################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/xll_variate/v16
/Debug
/x64/Debug
/packages
